@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

body {
    font-family: 'Josefin Sans', sans-serif;
}

/*-------remove blue outline from all bootstrap buttons---------*/
.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

/*----------------------------------------------------------------HEADER-FOOTER ALL PAGES--------------------*/

/*----------------------------------------------------------------NavBar--------------------*/

/*-------Default / small screens---------*/
nav {
    background-color: #FB9489;
}

nav img {
    display: inline;
    width: 220px;
    height: 40px;
    padding-left: 5px;
}


/*---------tablets/laptops ---------*/

@media (min-width: 700px) {
    nav img {
        width: 500px;
        height: 75px;
    }

    #navbar-links {
        margin-left: auto;
    }

    nav li a {
        font-size: 25px;
        margin-right: 10px;
        color: #00205b;
    }
}

/*---------larger screens ---------*/

@media (min-width: 1030px) {
    nav img {
        width: 600px;
        height: 110px;
    }

}

/*-------------------------------------------------------------------Footer--------------------*/

/*----------Default/Mobile----------*/
footer {
    background-color: #FB9489;
    padding-top: 10px;
    width: 100%;

}

#logo-footer img {
    display: inline;
    height: 25px;
    width: 150px;
}

#logo-footer p{
    color: #00205b;
    margin: 0rem 0rem 0rem 2rem;
    font-size: .4rem;
}

#copyright{
    color: #ffffff;
    font-size: .5rem;
    padding-right: 1.5rem;
}


.social-links li i {
    color: #00205b;
    width: 28px;
    text-align: center;
    font-size: 20px;
}

.social-links li i:hover {
    color: #ffffff;
}


/*------------very small screens---------------*/
@media screen and (max-width: 387px) {
    .social-links li i {
        width: 24px;
        text-align: center;
        font-size: 15px;
    }

    #social-links-footer {
        padding-left: 0;
    }

    #logo-footer {
        padding-right: 0;
    }
}

/*------------Tablets + laptops-----------*/
@media screen and (min-width: 700px) {
    #logo-footer img {
        height: 50px;
        width: 275px;
    }

    .social-links li i {
        width: 40px;
        font-size: 30px;
    }

    #social-links-footer {
        margin-top: 10px;
    }

    #logo-footer p{
        margin: 0rem 0rem 0rem 3.8rem;
        font-size: .8rem;
    }
    
    #copyright {
        font-size: .8rem;
        padding-right: 1.5rem;
    }

}

/*---------larger screens ---------*/

@media (min-width: 1030px) {
    #logo-footer img {
        height: 50px;
        width: 325px;
    }

    #logo-footer p{
        margin: 0rem 0rem 0rem 5rem;
        font-size:.8rem;
    }
}


/*-----------------------------------------------------------------------HOME PAGE--------------------*/

/*------------------------------------------------------Hero-Image--------------------*/

/*----------Default----------*/
.hero-image {
    background-image: url("../assets/images/hero-image-small.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
}

.hero-image-text {
    color: #00205b;
    position: absolute;
    top: 25%;
    left:.5%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5%;
}

.hero-image-button {
    background-color: #00205b;
    color: #ffffff;
}

.hero-image-button:hover,
.hero-image-button a:hover{
    color: #FB9489;
}

.hero-image-button a {
    text-decoration: none;
    color: #ffffff;
}

/*----------Tablets and larger screen: Bigger Image----------*/

@media screen and (min-width: 700px) {
    .hero-image {
        background-image: url("../assets/images/hero-image.jpg");
    }
}


@media only screen and (max-width: 1000px) and (min-width: 760px)  {
    .hero-image-text {
        width: 300px
    }
}

@media screen and (min-width: 2000px) {
    .hero-image-text h2,
    .hero-image-text button {
       font-size: 50px;
    }
}


/*----------------------------------------------------------------DESTINATIONS PAGE--------------------*/


/*------------------------------Destinations buttons section-----------------*/
.destinations-section-text{
    color: #00205b;
    margin: 0 auto;
    text-align: center;
}

.destinations-section-buttons{
    margin: 0 auto;
}

.destination-button-div{
    height: 12rem;
    border:3px solid #ffffff;
}

.destination-button{
    background-color: rgba(255, 255, 255, 0.7);
    height: 75px;
    display: block;
    margin: 3rem auto;
    color:#00205b;
}

.destination-button-active{
    background-color: rgba(0, 32, 91, 0.6);
    height: 75px;
    display: block;
    margin: 3rem auto;
    border: 6px solid #FB9489;
    color:#ffffff;
}

#summer-button-div {
    background-image: url("../assets/images/summer.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#winter-button-div {
    background-image: url("../assets/images/winter.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#city-button-div {
    background-image: url("../assets/images/city.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

#food-button-div {
    background-image: url("../assets/images/food.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}




/*----------smaller button div for mobile----------*/
@media screen and (max-width: 425px) {
    .destination-button-div{
        height: 10rem;
    }
    .destination-button{
        margin-top: 2rem;
        height: 65px;
    }
    .destination-button-active{
        margin-top: 2rem;
        height: 65px;
        border: 6px solid #FB9489;
    }
}



/*------------------------------------------------Destination Map section-----------------*/

.destination-map-header{
    color: #00205b;
    text-align: center;
    margin: 0 auto;

}
#destination-map{
    
    height: 400px;
    width:100%;
    margin:0 auto;
}

.location-button {
    background-color: #FB9489;
    color:#00205b;
    text-align: center;
    border: 2px solid #FB9489;
    width: 115px;
    transition: 0.3s;
}

.location-button:hover{
    background-color: #ffffff;
}

.location-button-selected {
    background-color: #00205b;
    color:#FB9489;
    border: 2px solid #00205b;
    text-align: center;
    width: 115px;
    transition: 0.3s;
}

.location-button-selected:hover{
    background-color: #ffffff;
}

/*----------------------------------------------------------------Locations section-----------------*/

.hide{
    display: none;
}
/*---------------------------------Locations info section-----------------*/

#locations-section{
    height: max-content;
}


#location-name,
#location-map-heading{
    font-weight: 700;
    text-transform: uppercase;
    color: #00205b;
    margin: 0 auto;
    text-align: center;
}


#location-image{
    background-color: #FB9489;
    height: 150px;
    width: 275px;
    margin: 0 auto;
    display: block; 
}

/*---------- tablets ----------*/
@media screen and (min-width: 750px) {
    #location-image{
        height: 200px;
        width: 300px;
    }
}

/*------- laptops and larger screens -----*/
@media screen and (min-width: 1000px) {
    #location-image{
        height: 250px;
        width: 450px;
    }
}

/*---------------------------------------Locations map section-----------------*/


.places-button {
    background-color: #00205b;
    color:#ffffff;
    text-align: center;
    border: 2px solid #00205b;
    transition: 0.3s;
}

.places-button:hover{
    color:#FB9489;
}

.places-button-selected {
    background-color: #FB9489;
    color:#00205b;
    border: 2px solid #FB9489;
    text-align: center;
    transition: 0.3s;
}

#location-map{
    height: 400px;
    margin:0 auto;
    max-width:100%;
}

/*----------for places buttons on tables and very small screens--------------*/
@media screen and (max-width:840px) and (min-width:760px) {
    #hotel-button,
    #restaurant-button,
    #sights-button {
        padding: .3rem .8rem;
        font-size: 1.15rem;
        
    }
}

@media screen and (max-width:415px) {
    #hotel-button,
    #restaurant-button,
    #sights-button {
        padding: .1rem .4rem;
        font-size: 1rem;
    }
}



/*-----------------------------------------------------------------------ITINERARY PAGE--------------------*/

#itinerary-page{
    min-height: 80vh;
}

#itinerary-intro{
    color: #00205b;
}

#submit-button{
    color: #ffffff;
    background-color: #00205b;
}
form h4{
    border-bottom: 2px solid #FB9489;
}

#form-submit-message{
    color: #00205b;
    text-align: center;
}
